@*
*
* Todoリストページ
*
*@

@import helper._
@(vv: model.ViewValueTodoList)(implicit flash: Flash, request: MessagesRequestHeader)
@common.Default(vv){
    @flash.get("notice").map { notice =>
        <p>@notice</p>
    }
    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th>タイトル</th>
            <th>本文</th>
            <th>ステータス</th>
            <th>カテゴリ</th>
            <th></th>
            <th></th>
        </tr>
    @for(todo <- vv.todoList) {
        <tr>
            <td>@todo._1.v.title</td>
            <td>@todo._1.v.body</td>
            <td>@todo._1.v.state.name</td>
            @if(todo._2.isDefined) {
                <td bgcolor=@todo._2.get.v.color.name >@todo._2.get.v.name</td>
            } else {
                <td></td>
            }
            <td bgcolor=@todo._2.map(_.v.color.name).getOrElse("") >@todo._2.map(_.v.name).getOrElse("")</td>
            <td><button type=button onclick="location.href='@routes.TodoController.updateView(todo._1.id.toString)'">編集</button></td>
            <td>
            @form(routes.TodoController.delete(todo._1.id.toString)) {
                @CSRF.formField
                <input type="submit" value="削除">
                }
            </td>
        </tr>
    }
    </table>
    <button type=button onclick="location.href='@routes.TodoController.addView'">新規作成</button>
}
