@*
*
* Todoリストページ
*
*@

@(vv: model.ViewValueTodoList)(implicit flash: Flash)
@common.Default(vv){
    @flash.get("notice").map { notice =>
        <p>@notice</p>
    }
    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th>タイトル</th>
            <th>本文</th>
            <th>ステータス</th>
            <th>カテゴリ</th>
            <th></th>
        </tr>
    @for(todo <- vv.todoList) {
        <tr>
            <td>@todo._1.v.title</td>
            <td>@todo._1.v.body</td>
            <td>@todo._1.v.state.name</td>
            <td bgcolor=@todo._2.v.color.name >@todo._2.v.name</td>
            <td><button type=button onclick="location.href='@routes.TodoController.updateView(todo._1.id.toString)'">編集</button></td>
        </tr>
    }
    </table>
    <button type=button onclick="location.href='@routes.TodoController.addView'">新規作成</button>
}
