@*
*
* Todo追加ページ
*
*@
@import helper._
@import model.TodoInput
@import model.ViewValueTodoAdd
@(vv: ViewValueTodoAdd, todoForm: Form[TodoInput])(implicit request: MessagesRequestHeader)

@common.Default(vv) {
    @form(routes.TodoController.addSubmit) {
        @CSRF.formField
        @* TODO: 項目名は別名（「タイトル」などで表示したい）*@
        @inputText(todoForm("title"))
        @textarea(todoForm("body"))
        @select(todoForm("categoryId"), vv.categoryList)
        <input type="submit" value="作成する">
    }
}
